@font-face {
    font-family: 'acrom';
    src: url('../../assets/fonts/Acrom-Medium.ttf');
  }
  

.page-upload{
    ion-label{
        font-family: acrom;
    }

    ion-card-header{


        ion-card-subtitle{
            color: #B2C4CC;
            font-size: 12px;
        }
        ion-label{
            color: #3D5A68;
            font-size: 16px ;
        }
    }




.upload{
    --background: #3D5A68;
    width: 220px;
    height: 50px;
    font-size: 16px;
    border-radius: 7px;
    ion-label{
        font-family: acrom;
    }
    ion-icon{ 
        font-size: 300px;
    }
   

}



}











ion-footer{

  --background : #3D5A68;
  ion-toolbar{
    padding-top: 4px;
    text-align: -webkit-center;
    --background:#3D5A68;
  }
  
  .qr{
    color:#FFFFFF ;
    width: 10px !important;
    font-family: acrom;
    font-size: 10px;
  }
 

  ion-fab-button{

   border-radius: 50%;

   border: 3px solid #344C57;
    box-shadow: 0 0 0 3px  #668391;
    --background:linear-gradient(#FFB701,#FF9302);
  }
}